body{
    display: flex;
    background-image: url(https://img.freepik.com/free-vector/aesthetic-butterfly-background-blue-border-vector-animal-illustration_53876-136888.jpg?w=2000);
    width: 300px;
    background-repeat: no-repeat;
    height: 300px;
    align-items: center;
    padding: 20px;
    max-width: 320px;
    flex-wrap: wrap;
}
.clock{
    padding: 20px;
    max-width: 320px;
    flex-wrap: wrap;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 2200px;
    height: 320px;
    background: rgba(225, 225, 225, 0.2);
    overflow: hiden;
    z-index: 10;
    backdrop-filter: blur(10px);
    display: flex;
    text-align: center;
    font-weight: lighter;
    color: black;
    border-radius: 10px;
    font-weight: lighter;
    border-radius: 10px;
}
.clock :hover{
    padding-left: 0;
    padding-right: 40px;
    color: black;
}


.inside{
    
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    left: 10;
    bottom: 0;
    width: 500px;
    height: 150px;
    border-top:1px; 
    display: flex;
    transition: 1s;
    margin-top: 7px;
}
.inside :hover{
    transition: 1s;
}

#cal img{
    display: flex;
margin-left:120px;
width: 120px;
height: 120px;
transition: 1sec;
margin-top: 0px;
}
#cal img:hover{
    transition: 1sec;
    transform: rotate(360deg);
}
/* .content{
    margin-top: 30px;
    width: auto;
    height: auto;
    text-align: center;
} */

.text{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 3px;
    margin-top: 10px;
    font-size: 65px;
 width: 6px;
 font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#time{
    display: flex;
    font-size: 30px;
    width: 3px;
}
#date{
    margin-top: 50px;
    margin-left: -100px;
}
span#day{
    position: absolute;
    margin-top: 2px;
    margin-left: 10px;
}
 span#month{
    position: absolute;
    margin-top: 5px;
    margin-left: 45px;
 }
 span#year{
    position: absolute;
    margin-top: 5px;
    margin-left: 105px;
 }
 #hours,#min,#sic{
font-size: 50px;
 }